body {
    height: 100%;
    width: 100%;
    background-image: url("Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.parent {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: 8fr;
    column-gap: 10px;
    grid-row-gap: 25px;
}
.back_button {
    height: 13%;
    top: 1%;
    left:2%;
}
.header_text {
    text-align: center;
    height: 13%;
}
.exit_button {
    height: 13%;
    top: 1%;
    right:2%;
}
.container1 {
    grid-column-start: 1;
    grid-column-end: 2;
}
.container2 {
    grid-row: span 1 / 2;
    grid-column-start: 2;
    grid-column-end: 6;
}
.container3{
    grid-column-start: 6;
    grid-column-end: 7;
}
.container4{
    grid-column-start: 2;
    grid-column-end: 4;
    border-bottom: 6px solid #5B5B5B;
}
.container5{
    grid-column-start: 4;
    grid-column-end: 5;
    border-bottom: 6px solid #5B5B5B;
}
.container6 {
    display: flex;
    justify-items: center;
    grid-column-start: 5;
    grid-column-end: 6;
}
.container7{
    grid-row-start: 3;
    grid-row-end: 8;
    grid-column-start: 2;
    grid-column-end: 5;
    border: 2px solid black;
    background: white;
}
h1 {
    color: #363C4C;
    font-family: "Ink Free",serif;
    font-size: clamp(3rem, 2.4286rem + 4.5714vw, 7rem);
    font-weight: bold;
    text-align: center;
    margin: auto;
}
h2 {
    color: 	#686868;
    font-family: "Ink Free",serif;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    margin: auto;
}
p {
    color: #828692;
    font-family: Perpetua,serif;
    font-size: 300%;
    font-style: italic;
    text-align: center;
    margin: auto;
}

.button {
    background-color: #A37F5D;
    color: #E5E6EA;
    font-family: "Ink Free",serif;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin: 15px auto 0;
    min-width: 25%;
    max-width: 100%;
    padding: 12px 4%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: clamp(2rem, 1.7143rem + 2.2857vw, 4rem);
}

.exit_click{
    background-color: #A37F5D;
    color: #E5E6EA;
    font-family: "Ink Free",serif;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin: 15px auto 0;
    min-width: 25%;
    max-width: 100%;
    padding: 12px 4%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: clamp(2rem, 1.7143rem + 2.2857vw, 4rem);
}

.back_button {
    float: left;
    height: 13%;
    position:absolute;
    top: 1%;
    left:2%;
}

.center_button {
    /* text-decoration removes the hyperlink underline but also
     removed box shadow (I think) */
    text-decoration: none;
    justify-content: center;
    align-content: center;
    background-color: #9D9D9D;
    color: #0A3350;
    font-family: "Ink Free",serif;
    margin: 15px auto 0;
    padding: 8px 4%;
    min-width: 25%;
    max-width: 100%;
    text-align: center;
    font-size: xx-large;
    border-radius: 12px;
}

.help_button {
    background-color: #A37F5D;
    color: #E5E6EA;
    font-family: "Ink Free",serif;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin: 15px auto 0;
    min-width: 25%;
    max-width: 100%;
    padding: 12px 4%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: clamp(2rem, 1.7143rem + 2.2857vw, 4rem);
    position: relative;
    margin-left: 10%;
}