body {
    height: 100%;
    width: 100%;
    background-image: url("Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.parent {
    height: 90vh;      /* 100 vh is entire height of viewport */
    display: grid;
    grid-template-columns: 1fr;     /* 1fr means "take up any leftover space */
    grid-template-rows: auto 1fr auto;
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    padding: 20px 20px 20px 20px;
    grid-template-areas:
        'header'
        'main'
        'footer';
}

.parent > header {
    grid-area: header;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr minmax(0,600px) 1fr;
}

.parent > main {
    grid-area: main;
    overflow: auto;     /* makes the main element scroll, but keeps header&footer in place */
    padding: 10px 5px 10px 5px;

    display: grid;
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    grid-template-rows: 25px auto auto 25px;
    grid-template-columns: auto auto auto auto auto auto;
}

.parent > footer {
    grid-area: footer;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr minmax(0,600px) 1fr;
}

.back_button {      /* back button in header */
    justify-self: stretch;
    grid-column-start: 1;
    grid-column-end: 1;
}
.header_text {      /* title in header */
    text-align: center;
}
.exit_button {      /* exit button in header */
    justify-self: end;
    grid-column-start: 3;
    grid-column-end: 3;
}

.button_1 {         /* top-left button for the 4-button layout */
    display: inline-block;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
}
.button_2 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 2;
}
.button_3 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
}
.button_4 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 3;
}

h1 {                /* for page headers */
    color: #363C4C;
    font-family: "Ink Free", serif;
    font-weight: bold;
    text-align: center;
}

h2 {                 /* for sub-header text */
    color: #828692;
    font-family: "Perpetua", serif;
    font-style: italic;
    text-align: center;
}

p {                /* for regular text */
    color: #828692;
    font-family: "Perpetua", serif;
}

.button {         /* for all buttons */
    display: inline-block;
    padding: 15px;
    background-color: #A37F5D;
    color: #E5E6EA;
    font-family: "Ink Free",serif;
    text-align: center;
    text-decoration: none;
    font-size: 500%;
}

.center_button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #A37F5D;
    color: #E5E6EA;
    font-family: "Ink Free",serif;
    text-align: center;
    text-decoration: none;
    font-size: 500%;
}